/*CSS general de mon site*/
body {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-weight: normal; font-stretch: normal; font-style: normal;
    font-size: 16px; color: #000000;
    background-color: #e1f8da;
    margin: 0; 
}